*{
    list-style-type:none;
    text-decoration:none;
    margin: 0;
    padding: 0;
}
.bc4{
    background: url("../../image/ALL/background.png") no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
.logo4{
    font-size: .5vw;
    text-shadow: 0 0 5px #1122f7;
    color: #fff;
    height: 9vh;
    background: url("../../image/4/dingbubc.png") no-repeat 0 1.5vh ;
    background-size: 100%;
}
.logo4-img{
    position: absolute;
    margin:1vh 0 0 15vw;
    width: 10vw;
    height: 2.5vw;
}
.logo4-zxjcxt{
    position: absolute;
    top: 6vh;
    left: 48.5vw;
}
.user{
    line-height: 3vh;
    height: 3vh;
    position: absolute;
    top: 5vh;
    right: 5vw;
}
.user-img{
    height: 3vh;
    position: absolute;
}
.user-name{
    margin-left:1.5vw;
    display: inline-block;
    font-size: .9vw;
    transform:scale(0.7);
}
.part4 select {
    margin-top: 5vh;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    border: none;
    width:10vw;
    height:3vh;
    background:url("../../image/4/jiantou.png") no-repeat scroll right #2dd4e9;
    color:#fff;
    outline:none;
}
.bjld-img{
    width: 18.5vw;
    height: 18vw;
    margin:3vh 0 0 0;
}
.bjld-font{
    font-size: .9vw;
    text-shadow: 0 0 5px #1122f7;
    color: #fff;
    position: absolute;
    top: 13vh;
    left: 7.4vw;
}
.bjld-font-change{    /*动态变换*/
  text-shadow: .2vh .2vh .2vh #b8deef
}
.yjsl{
    position: relative;
    text-align: center;
    margin: 0 0 0 2vw;
    width: 15vw;
    border-top: 2px solid #fff;
    font-weight: bold;
    font-size: 1vw;
}
.yjsl-yjd{
    position: absolute;
    width: 2vw;
    height: 2vw;
    display: inline-block;
    color: #fff;
}
.yjsl-sl{
    margin: .7vh 0 0 3.3vw;
    display: inline-block;
    color: #ffdc00;
}
.yjsl-gs{
    margin: 0 0 0 2vw;
    display: inline-block;
    color: #fff;
}
.bjsl{
    text-align: center;
    position: relative;
    width: 15vw;
    height: 4vh;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    margin: 1vh 0 0 2vw;
    font-weight: bold;
    font-size: 1vw;
}
.bjsl-bjd{
    position: absolute;
    top: 0;
    width: 2vw;
    height: 2vw;
    display: inline-block;
    color: #fff;
}
.bjsl-sl{
    margin: .7vh 0 0 3.3vw;
    display: inline-block;
    color: #dd5044;
}
.bjsl-gs{
    margin: 0 0 0 2vw;
    display: inline-block;
    color: #fff;
}
.bjjl{
    overflow-y:auto;
    color: #fff;
    font-size: .5vw;
    margin: 1vh 0 0 2vw;
    width: 15vw;
    height: 38vh;
    border: 2px solid #fff;
}
.bjjl-db{
    margin-top: 1vh;
    color: #fff;
    font-size: .7vw;
    line-height: 2vh;
    text-align:center;
    width: 15vw;
    height: 2vh;
    background: url("../../image/4/bjjl.png") center no-repeat;
}
.bjjl-th1{
    width: 3vw;
    height: 3vh;
}
.bjjl-th2{
    width: 4vw;
}
.bjjl-th3{
    width: 4vw;
}
.bjjl-th4{
    width: 3vw;
}
.bjjl-td{
    height: 5vh;
}
.biankuang{
    width: 60vw;
    height: 70vh;
    top: 10vh;
    left: 20vw;
    position: absolute;
    -webkit-border-image:url("../../image/4/biankuang.png") 1 1 stretch;	/* Safari and Chrome */
    -moz-border-image:url("../../image/4/biankuang.png") 1 1 round;	/* Old Firefox */
    -o-border-image:url("../../image/4/biankuang.png") 1 1 round;		/* Opera */
}
.gongchang{
    height: 30vh;
    position:relative;
}
.gongchang-bc{
    width: 40vw;
    margin: -2vh 0 0 12vw;
}
.gongchang-tip1{
    width: 2vw;
    position: absolute;
    top: 12.5vh;
    left: 16vw;
    transition: all 0.6s;
}
.gongchang-tip2{
    width: 2vw;
    position: absolute;
    top: 24vh;
    left: 20vw;
    transition: all 0.6s;
}
.gongchang-tip3{
    width: 2vw;
    position: absolute;
    top: 6vh;
    left: 25vw;
    transition: all 0.6s;
}
.gongchang-tip4{
    width: 2vw;
    position: absolute;
    top: 19vh;
    left: 27vw;
    transition: all 0.6s;
}
.gongchang-tip5{
    width: 2vw;
    position: absolute;
    top: 16vh;
    left: 32vw;
    transition: all 0.6s;
}
.gongchang-tip6{
    width: 2vw;
    position: absolute;
    top: 1.5vh;
    right: 18.5vw;
    transition: all 0.6s;
}
.gongchang-tip7{
    width: 2vw;
    position: absolute;
    top: 9vh;
    right: 14vw;
    transition: all 0.6s;
}
.gongchang-tip8{
    width: 2vw;
    position: absolute;
    top: 16vh;
    right: 12vw;
    transition: all 0.6s;
}
.gongchang-tip1:hover{
    transform: scale(1.4);
}
.gongchang-tip2:hover{
    transform: scale(1.4);
}
.gongchang-tip3:hover{
    transform: scale(1.4);
}
.gongchang-tip4:hover{
    transform: scale(1.4);
}
.gongchang-tip5:hover{
     transform: scale(1.4);
 }
.gongchang-tip6:hover{
    transform: scale(1.4);
}
.gongchang-tip7:hover{
    transform: scale(1.4);
}
.gongchang-tip8:hover{
    transform: scale(1.4);
}
.qyxz{
    margin: 4vh 0 0 3vw;
    padding: 0 0 0 2vw;
    font-size: .9vw;
    color: #fff;
    line-height: 4vh;
    width: 4.5vw;
    height: 4vh;
    background: url("../../image/4/zuobiao.png") no-repeat left;
    background-size: 25%;
    border: 2px solid #fff;
}
.quyu{
    height: 30vh;
    font-size: .9vw;
    color: #fff;
    position: relative;

}
.quyu li{
     cursor: pointer;
}
.quyu1{
    text-align: center;
    width: 5vw;
    position: absolute;
    bottom: 7vh;
    left: 18vw;
    display: inline-block;
}
.quyu2{
    text-align: center;
    width: 5vw;
    bottom: 5vh;
    left: 23vw;
    position: absolute;
    margin: 3vh 0 0 0;
    display: inline-block;
}
.quyu3{
    text-align: center;
    width: 5vw;
    bottom: 4vh;
    left: 28vw;
    position: absolute;
    display: inline-block;
}
.quyu4{
    text-align: center;
    width: 5vw;
    bottom: 5vh;
    left: 33vw;
    position: absolute;
    display: inline-block;
}
.quyu5{
    text-align: center;
    width: 5vw;
    bottom: 7vh;
    left: 38vw;
    position: absolute;
    display: inline-block;
}
.yqzl{
    display: inline-block;
    overflow-y:auto;
    text-align: center;
    font-weight: bold;
    color: #fff;
    width: 18vw;
    height: 14vh;
    position: absolute;
    top: 10vh;
    right: 1vw;
    border: 2px solid #fff;
}
.yqzl img{
    margin-top: .8vh;
    width: 1vw
 }
.yqzl li{
    display: inline-block;
    width: 8.8vw;
}
.yq-name{
    transform:scale(0.9);
    font-size: .6vw;
    margin-left: 0.2vw;
}
.yqsl1{
    transform:scale(0.9);
    font-size: .6vw;
    color: #08bb70;
}
.yqsl2{
    transform:scale(0.9);
    font-size: .6vw;
    color: #ffce44;
}
.yqsl3{
    transform:scale(0.9);
    font-size: .6vw;
    color: #dd5044;
}
#wdfbt{
    border: 2px solid #fff;
    position: absolute;
    top: 25vh;
    right: 1vw;
    width: 18vw;
    height: 25vh;
}
#wdzxt{
    border: 2px solid #fff;
    position: absolute;
    top: 52vh;
    right: 1vw;
    width: 18vw;
    height: 25vh;
}
#dlzkt{
    border: 2px solid #fff;
    position: absolute;
    top: 79vh;
    right: 1vw;
    width: 18vw;
    height: 20vh;
}
.xz-1{
    position: absolute;
    bottom: 8vh;
    left: 20vw;
    width: 11vw;
    height: 22vh;
    -webkit-border-image:url("../../image/4/bottem1.png") 1 1 stretch;	/* Safari and Chrome */
    -moz-border-image:url("../../image/4/bottem1.png") 1 1 round;	/* Old Firefox */
    -o-border-image:url("../../image/4/bottem1.png") 1 1 round;		/* Opera */
    /*background: url("../../image/4/bottem1.png") no-repeat 100%;*/
    border-radius: 10px;
}
.xz-1 img{
    transform: skew(-10deg,14deg);
    -ms-transform: skew(-10deg,14deg);
    -webkit-transform: skew(-10deg,14deg);
    -o-transform: skew(-10deg,14deg);
    -moz-transform: skew(-10deg,14deg);
    transform-origin: center;
    margin:1vh 0 0 3.5vw;
    width: 3vw;
    height: 3vw;
}
.xz-1 span {
    transform: skew(-10deg,16deg);
    -ms-transform: skew(-10deg,16deg);
    -webkit-transform: skew(-10deg,16deg);
    -o-transform: skew(-10deg,16deg);
    -moz-transform: skew(-10deg,16deg);
    transform-origin: center;
    color: #fff;
    display: inline-block;
    margin: 4.5vh 0 0 3vw;
    text-shadow: 1px 1px 10px #1122f7;
    font-size: 0.8vw;
}
.xz-2{
    position: absolute;
    bottom: 3vh;
    left: 34vw;
    width: 13vw;
    height: 20vh;
    -webkit-border-image:url("../../image/4/bottem2.png") 1 1 stretch;	/* Safari and Chrome */
    -moz-border-image:url("../../image/4/bottem2.png") 1 1 round;	/* Old Firefox */
    -o-border-image:url("../../image/4/bottem2.png") 1 1 round;		/* Opera */
    /*background: url("../../image/4/bottem2.png") no-repeat 100%;*/
    border-radius: 10px;
}
.xz-2 img{
    transform:skew(5deg,5deg);/*倾斜 第一个deg参数为x轴，第二个deg参数为y轴**/
    -ms-transform:skew(5deg,5deg);/*兼容IE9浏览器*/
    -webkit-transform:skew(5deg,5deg);/*兼容谷歌浏览器*/
    -o-transform:skew(5deg,5deg);/*兼容opera浏览器*/
    -moz-transform:skew(5deg,5deg);/*兼容火狐浏览器*/
    transform-origin: center;
    margin:-1vh 0 0 3.5vw;
    width: 5vw;
}
.xz-2 span{
    transform: skew(-10deg,8deg);
    -ms-transform: skew(-10deg,8deg);
    -webkit-transform: skew(-10deg,8deg);
    -o-transform: skew(-10deg,8deg);
    -moz-transform: skew(-10deg,8deg);
    transform-origin: center;
    color: #fff;
    display: inline-block;
    margin: 4.5vh 0 0 5.2vw;
    text-shadow: 1px 1px 10px #1122f7;
    font-size: 0.8vw;
}
.xz-3{
    position: absolute;
    bottom: 3vh;
    left: 52vw;
    width: 13vw;
    height: 20vh;
    -webkit-border-image:url("../../image/4/bottem3.png") 1 1 stretch;	/* Safari and Chrome */
    -moz-border-image:url("../../image/4/bottem3.png") 1 1 round;	/* Old Firefox */
    -o-border-image:url("../../image/4/bottem3.png") 1 1 round;		/* Opera */
    /*background: url("../../image/4/bottem3.png") no-repeat 100%;*/
    border-radius: 10px;
}
.xz-3 img{
    transform: skew(10deg,-8deg);
    -ms-transform: skew(10deg,-8deg);
    -webkit-transform: skew(6deg,-2deg);
    -o-transform: skew(10deg,-8deg);
    -moz-transform: skew(10deg,-8deg);
    transform-origin: center;
    margin:0.5vw 0 0 5.5vw;
    width: 3vw;
    height: 4vw;
}
.xz-3 span{
    transform: skew(10deg,-8deg);
    -ms-transform: skew(10deg,-8deg);
    -webkit-transform: skew(10deg,-8deg);
    -o-transform: skew(10deg,-8deg);
    -moz-transform: skew(10deg,-8deg);
    transform-origin: center;
    color: #fff;
    display: inline-block;
    margin: 4.5vh 0 0 4.6vw;
    text-shadow: 1px 1px 10px #1122f7;
    font-size: 0.8vw;
}
.xz-4{
    position: absolute;
    bottom: 8vh;
    left: 68vw;
    width: 11vw;
    height: 21vh;
    -webkit-border-image:url("../../image/4/bottem4.png") 1 1 stretch;	/* Safari and Chrome */
    -moz-border-image:url("../../image/4/bottem4.png") 1 1 round;	/* Old Firefox */
    -o-border-image:url("../../image/4/bottem4.png") 1 1 round;		/* Opera */
    /*background: url("../../image/4/bottem4.png") no-repeat 100%;*/
    border-radius: 10px;
}
.xz-4 img{
    transform: skew(3deg,-10deg);
    -ms-transform: skew(3deg,-10deg);
    -webkit-transform: skew(3deg,-10deg);
    -o-transform: skew(3deg,-10deg);
    -moz-transform: skew(3deg,-10deg);
    transform-origin: center;
    margin:0.5vw 0 0 4.4vw;
    width: 3vw;
    height: 4vw;
}
.xz-4 span{
    transform: skew(10deg,-16.5deg);
    -ms-transform: skew(10deg,-16.5deg);
    -webkit-transform: skew(10deg,-16.5deg);
    -o-transform: skew(10deg,-16.5deg);
    -moz-transform: skew(10deg,-16.5deg);
    transform-origin: center;
    color: #fff;
    display: inline-block;
    margin: 4.5vh 0 0 4vw;
    text-shadow: 1px 1px 10px #1122f7;
    font-size: 0.8vw;
}
.zuojiantou{
    position: absolute;
    bottom: 2vh;
    left: 20vw;
}
.youjiantou{
    position: absolute;
    bottom: 2vh;
    right: 22vw;
}
.zxjc{
    color: #fff;
}
#return {
    position: absolute;
    top: 8vh;
    font-size: 0.8vw;
    right: 3vw;
    color: #fff;
    text-decoration: none;
}