*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #ccc;
}
.container{
    margin: 0 auto;
    width: 1600px;
}
header{
    width: 100%;
    height: 990px;
    text-align: center;
    letter-spacing: 1px;
    color: #fff;
    background-image: url(../images/top.png);
}
.message{
    padding-top: 210px;
}
.message h1{
    margin-bottom: 80px;
    font-size: 36px;
    font-weight: 200;
}
.message p{
    margin: 0 auto;
    width: 768px;
    line-height: 1.5;
    color: #c1c0bf;
}
.message p:nth-child(3){
    margin-bottom: 110px;
}
.sign{
    margin: 0 auto;
    width: 970px;
    height: 248px;
    border-top: 1px solid #82817d;
    border-bottom: 1px solid #82817d;
}
.sign p:nth-child(1){
    padding-top: 60px;
    font-size: 14px;
    color: #cbcbd3;
}
.sign p:nth-child(2){
    margin: 20px 0 42px 0;
    color: #c1c0bf;
    font-size: 10px;
}
.sign input{
    margin-right: 28px;
    width: 290px;
    height: 48px;
    text-indent: 1em;
    color: #fff;
    border: 1px solid #82817d;
    background-color: transparent;
}
.sign button{
    width: 126px;
    height: 50px;
    border: none;
    letter-spacing: 1px;
    background-color: #fff;
}
/* 第一小节 上Hello world */
.content{
    width: 100%;
    height: 710px;
    text-align: center;
    letter-spacing: 1px;
    background-color: #fff;
}
.content .messageC{
    padding-top: 88px;
    width: 660px;
    margin: 0 auto;
}
.messageC h1{
    margin: 38px 0 80px 0;
    font-size: 36px;
    font-weight: 200;
}
.content .features{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 350px;
    width: 1028px;
    text-align: left;
}
/* flex-wrap 属性 ： 用作换行 */
.features div:nth-child(odd){
    margin-right: 148px;
}
.features div{
    margin-bottom: 80px;
    width: 440px;
    position: relative;
}
.features h4{
    margin-bottom: 24px;
}
.features p{
    color: #5a5a5a;
}
.features icon{
    position: absolute;
    left: -60px;
    width: 50px;
    height: 50px;
}
.features div:nth-child(1) > icon{
    background-image: url(../images/icon.png);
    background-position: left top;
}
.features div:nth-child(2) > icon{
    background-image: url(../images/icon.png);
    background-position: left 34%;
}
.features div:nth-child(3) > icon{
    background-image: url(../images/icon.png);
    background-position: left 96%;
}
.features div:nth-child(4) > icon{
    background-image: url(../images/icon.png);
    background-position: left 63%;
}
/* 记住background-image的使用 先左右 在上下 */

/* 第二节 重点： flex的使用，换行：flex-wrap:wrap;background-position是先左右再上下 */
.showImg{
    padding-top: 102px;
    width: 100%;
    height: 800px;
    color: #ccc;
    background-image: url(../images/middle.png);
}
.showImg .leftP{
    margin-left: 312px;
    float: left;
}
.leftP h1{
    margin: 80px 0 50px 0;
    width: 370px;
    font-size: 42px;
    font-weight: 200;
}
.leftP p{
    margin-bottom: 60px;
    width: 360px;
    line-height: 1.5;
    letter-spacing: 1px;
    font-size: 14px;
    color: #c2c5c2;
}
.leftP button{
    margin-right: 34px;
    width: 244px;
    height: 60px;
    letter-spacing: 1px;
    background-color: transparent;
    color: #fff;
}
.leftP button:nth-child(3){
    background-color: #fff; 
    color: #000;
}
.showImg .rightP{
    position: relative;
    float: right;
    border: 1px solid #a0a0a0;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    width: 644px;
    height: 600px;
    text-align: right;
}
.rightP icon{
    position: absolute;
    left: 32px;
    top: 50%;
    border: 1px solid #a0a0a0;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}
.rightP img{
    margin-top: 30px;
}
/* 第三小节 关于border-radius的使用 熟悉一下  */
.detail{
    width: 100%;
    text-align: center;
    background-color: #fff;
}
.detail h1{
    padding: 100px 0;
}
.fourM{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 960px;
}
.fourM div{
    width: 260px;
    margin: 0 24px;
    padding-bottom: 50px;

}
.fourM div h2{
    margin-bottom: 40px;
}
.fourM div p{
    color: #838383;
}
hr{
    background-color: #e7e7e7;
}
.treeBird{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-bottom: 100px;
    width: 972px;
}
.tree{
    padding: 114px 0 80px 0; 
}
.tree img{
    float: left;
}
.tree > div{
    float: right;
    width: 324px;
    text-align: left;
}
.tree h4,
.bird h4{
    padding: 72px 0 40px;
    font-weight: 550;
}
.tree p,
.bird p{
    color: #acacac;
    font-weight: 200;
}
.bird img{
    float: right;
}
.bird > div{
    float: left;
    width: 324px;
    text-align: left;
}
/* 树和鸟的图片 */
.personality {
    position: relative;
    margin: 0 auto;
    padding-bottom: 100px;
    width: 972px;
}
.personality h1{
    padding-bottom: 38px;
}
.personality p{
    margin: 0 auto 64px; 
    width: 700px;
    color: #acacac;
}
.personality img{
    margin-bottom: 30px;
}
.personality img:nth-child(odd){
    margin-right: 24px;
}
.toShow p{
    margin: 0;
    width: 470px;
    margin-top: 20px;
    letter-spacing: 2px;
    font-size: 12px;
}
.toShow{
    position: absolute;
    top: 288px;
    width: 470px;
    height: 340px;
    text-align: center;
    color: #ccc;
}
.toShow h2{
    padding-top: 108px;
    font-weight: 400;
}
.contact{
    margin: 0 auto;
    padding-top: 70px;
    width: 972px;
}
.contact .writeTo{
    float: left;
    margin-bottom: 72px;
    border:1px solid #ccc;
    border-radius: 10px;
    width: 470px;
}
.writeTo h2{
    padding: 50px;
    font-size: 20px;
    font-weight: 400;
}
.writeTo input,
.writeTo button{
    width: 370px;
    height: 50px;
    margin: 0 50px 30px 50px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-indent: 1em;
}
/* .writeTo input:nth-child(4){
    resize: none;
    width: 368px;
    height: 142px;
    margin: 0 50px 30px 50px;
    border: 1px solid #ccc;
    border-radius: 4px;
} */
.writeTo textarea{
    resize: none;
    width: 368px;
    height: 142px;
    margin: 0 50px 30px 50px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-indent: 1em;
    color: #acacac;
}
.writeTo button{
    margin-bottom: 64px;
    letter-spacing: 1px;
    color: #fff;
    background-color: #141414;
}
.contact .contacts{
    float: right;
    margin-top: 88px;
    width: 354px;
    text-align: left;
    font-size: 12px;
    letter-spacing: 1px;
    color: #acacac;
    line-height: 1.5;
}
.contacts h2{
    margin-bottom: 32px;
    font-size: 32px;
    font-weight: 200;  
    color: #000; 
}
.contacts p:nth-child(2){
    margin-bottom: 72px;
}
.contacts p{
    position: relative;
}
.address span{
    display: block;
}
.address,
.phone,
.email 
{
    margin:0 0 40px 40px;
    color: #000;
    font-weight: 550;
}
.contacts icon{
    position: absolute;
    top: 0;
    left: -38px;
    width: 25px;
    height: 25px;
}
.address icon{
    background-image: url(../images/aPm.png);
    background-position: left 4%;
}
.phone icon{
    background-image: url(../images/aPm.png);
    background-position: left 55%;
}
.email icon{
    background-image: url(../images/aPm.png);
    background-position: left bottom;    
}

.contact::after{
    content: "";
    display: block;
    height: 0;
    clear: both;
}
/* 第四节 */
footer{
    display: flex;
    flex-direction: row;
    padding-top: 86px;
    width: 100%;
    height: 410px;
    color: #fff;
    background-color: #141414;
}
footer ul{
    margin: 0 90px;
    list-style: none;
    color: #c5c5c5;
    letter-spacing: 1px;
} 
footer ul:nth-child(1){
    margin-left: 210px;
}
footer ul li{
    margin: 34px 0;
    font-size: 14px;
    color: #5b5b5b;
}
footer div{
    margin-left: 110px;
    width: 270px;
    font-size: 14px;
    line-height: 1.5;
    color: #5b5b5b;
}
footer div h2{
    margin-bottom: 28px;
    font-weight: 400; 
    color: #acacac;
}
footer icon{
    display: inline-block;
    margin: 36px 8px 0 0;
    width: 30px;
    height: 20px;
}
footer div icon:nth-child(3){
    background-image: url(../images/footerIcon.png);
    background-position: left top;
}
footer div icon:nth-child(4){
    background-image: url(../images/footerIcon.png);
    background-position: left 19%;
}
footer div icon:nth-child(5){
    background-image: url(../images/footerIcon.png);
    background-position: left 36%;
}
footer div icon:nth-child(6){
    background-image: url(../images/footerIcon.png);
    background-position: left 55%;
}
footer div icon:nth-child(7){
    background-image: url(../images/footerIcon.png);
    background-position: left 73%;
}
footer div icon:nth-child(8){
    background-image: url(../images/footerIcon.png);
    background-position: left 90%;
}
