/* 左固定，右自适应 */
*{
    margin: 0;
    padding: 0;
}
.left{
    float: left;
    width: 300px;
    height: 800px;
    background-color: #ccc;
}
.right{
    float: left;
    width: calc(100% - 300px);  
    height: 800px;
    background-color: aqua;
}
/* calc() 计算函数的使用*/